@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");
.titulo-indumentaria {
  color: black;
  font-size: 100px;
  text-align: center;
  font-family: 'Cormorant SC', serif;
  margin: auto;
  padding: 80px;
  font-weight: bold; }

@media (max-width: 576px) {
  .titulo-indumentaria {
    font-size: 50px !important;
    padding: 10px; } }

@media (min-width: 576px) {
  .titulo-indumentaria {
    font-size: 100px !important;
    padding: 30px; }
 }

.titulo {
  background-image: url("../inicio/img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

body {
  background-color: gainsboro;
  position: relative; }

main {
  text-align: center; }

nav {
  background-color: black; }

.menuBoton{
  display: none;
  width: 9%;
  background-color: black;
}
.imgNav{
  width: 100%;
  background-color: black;
}

ul {
  marker: none;
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  display: inline-block; }

ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 40px; }

ul li a:hover {
  background-color: gray; }

.contenedor {
  border: 5px black solid;
  margin: 20px; }

.contenedor p {
  margin: 20px; }

.cajaFixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  object-fit: 30px; }

.cajaFixed img {
  width: 80px; }

  .grid {
    display: grid;
 }

.grid div {
  padding: 4em;
  border: 2px solid white; }

.footer {
  padding: 1em;
  border: 3px solid black;
  background-color: #2e2d2d;
  text-align: center; }

.flexpa {
  background-color: white;
  border: 3px solid white;
  width: 100%;
  height: 500px;
  margin: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%; }

.flexhi {
  margin: 50px;
  justify-content: space-around;
  align-items: center; 
  }

.producto {

  text-align: center;
  margin-top: 80px; }


@media (max-width: 576px) {
  .img-ropa {
    max-width: 80%; }
}

@media (max-width: 800px) {
  .flexhi {
    width: 100%;
    height: 700px;
    margin-top: 20px;
    margin-top: 20px;
    margin-left: 0%;
 }  
 .imgRopa{
    width: 100%;
  }
  .menuBoton{
    width: 20%;
  } 
  .grid div {
    padding: 1em;
    border: 2px solid white; } 
   ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 10px; }
    
   ul li {
    display: block; }


}

@media (max-width: 768px) {
  .producto {
    font-size: 35px;
  margin-top: 80px; }
  .menuBoton{
    display: inline-block;
  }
  .desaparece{
    display: none;
  }
 }
 
 @media (min-width: 767px) {
  .contacting{
    float: right;
  }
 }


@media (min-width: 767px) {
  .flexpa {
    height: 100%;} 
}

h3 {
  color: azure;
  font-size: 1rem !important; }

.nosotrast {
  font-weight: bold;
  text-align: center;
  font-size: 27px; }

@media (max-width: 680px) {
  .etiqa {
    font-size: 8px;
    padding: 20px 10px;
    }

}

$blue: #B5E6F5;
$red: #d93c31;
$green: #8ddd7f;
    
$vista:mobile;

body{
@if $vista == desktop {
	@media only screen and (min-width:1024px){
		h1{font-size: 100px;}
		h3{font-size: 35px;}
		}
	} @else if $vista == mobile {
		@media only screen and (max-width:767px){
			h1{font-size: 70px;}
			h3{font-size:25px;}
		}
	} @else {
		h1{font-size:34px;}
		h3{font-size:25px;}
		p{font-size:20px;}
	}
}

$mapRedes: (facebook: rgb(37, 37, 133), instagram: rgb(143, 29, 33), twitter: rgb(83, 147, 204));
@each $redSocial, $color in $mapRedes {
  .#{$redSocial} {
    color: $color
  }
}

$estilos: (
  lcolor: grey,
  bcolor: black,
  talineado: center,
  tfuente: 20px,
);

.publi {
  background-color:map-get($estilos, bcolor );
  text-align: map-get($estilos, talineado );
}

.parrafoPubli{
  color: map-get($estilos, lcolor );
  font-size: map-get($estilos, tfuente );
}

.tercerGrid {
  font-family: 'Cormorant SC', serif;
  background-color: white !important;
  @extend .publi;
  color: map-get($estilos, lcolor );
  font-size: 2rem;
}

.bodyContacto{
  text-align: center;
}

.botonRopa{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.precio{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.publicidad--{
  padding: 40px;
  @extend .footer;
}

.text--{
  color: #a19999;
  font-weight: bold;
}
.imgRopa{
  margin-bottom: 30px;
}

.cuotas-s-i{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(122, 116, 116);
}